{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - List Mails {% endblock %}

{% block body %}

    {{ parent() }}

    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Mails</span> - List</h4>
                </div>
            </div>

            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index_admin_page') }}"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li class="active">Mails</li>
                </ul>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <!-- Table -->
            <div class="panel panel-flat">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                                <td>{{ message.email }}</td>
                            </tr>
                        {% endfor %}
                        {% for m in mails %}
                            <tr>
                                <td>{{ m.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /table -->

            {{ include('admin/footer.html.twig') }}

        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->

    </div>
    <!-- /page content -->

    </div>
    <!-- /page container -->

{% endblock %}