{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Edit Product {% endblock %}

{% block body %}

    {{  parent() }}
    <div class="content-wrapper">
        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Product</h4>
                </div>
            </div>

            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index_admin_page') }}"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li><a href="{{ path('list_products_page') }}">Product</a></li>
                    <li class="active">Edit Product</li>
                </ul>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">

            <!-- Horizontal form -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Edit Product</h5>
                </div>

                <div class="panel-body">
                    <div class="container-fluid">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.promoEnabled) }}
                        {{ form_row(form.promoMontant) }}
                        {{ form_row(form.collection) }}
                        {{ form_row(form.category) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.price_dollar) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.imageFile) }}

                        <ul class="tags list-group" style="padding: 20px;margin: 20px" data-prototype="{{ form_widget(form.variations.vars.prototype)|e('html_attr') }}">
                            {% for tag in form.variations %}
                                <li class="list-group-item row">
                                    {{ form_row(tag.color) }}
                                    {{ form_row(tag.s) }}
                                    {{ form_row(tag.m) }}
                                    {{ form_row(tag.l) }}
                                    {{ form_row(tag.xl) }}
                                    {{ form_row(tag.xxl) }}
                                    {{ form_row(tag.xxxl) }}
                                    {{ form_row(tag.sizeJean29) }}
                                    {{ form_row(tag.sizeJean30) }}
                                    {{ form_row(tag.sizeJean31) }}
                                    {{ form_row(tag.sizeJean32) }}
                                    {{ form_row(tag.sizeJean33) }}
                                    {{ form_row(tag.sizeJean34) }}
                                    {{ form_row(tag.sizeJean35) }}
                                    {{ form_row(tag.sizeJean36) }}
                                    {{ form_row(tag.sizeJean38) }}
                                    {{ form_row(tag.sizeJean40) }}
                                    {{ form_row(tag.sizeMoc40) }}
                                    {{ form_row(tag.sizeMoc41) }}
                                    {{ form_row(tag.sizeMoc42) }}
                                    {{ form_row(tag.sizeMoc43) }}
                                    {{ form_row(tag.sizeMoc44) }}
                                    {{ form_row(tag.sizeMoc45) }}
                                </li>
                            {% endfor %}
                        </ul>

                        {{ form_errors(form) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- /horizotal form -->

            {% include 'admin/footer.html.twig' %}

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    </div>
    <!-- /page content -->

    </div>
    <!-- /page container -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            function filter() {
                //console.log($('#product_category').val());
                var category = $('#product_category').val();
                if(category === 'Jeans') {
                    myarray = ['Size jean29', 'Size jean30', 'Size jean31', 'Size jean32', 'Size jean33', 'Size jean34', 'Size jean35', 'Size jean36', 'Size jean38', 'Size jean40'];
                } else if(category === 'Mocassin') {
                    myarray = ['Size moc40', 'Size moc41', 'Size moc42', 'Size moc43', 'Size moc44', 'Size moc45'];
                } else {
                    myarray = ['S', 'M', 'L', 'Xl', 'Xxl', 'Xxxl'];
                }
                $.each($('.list-group-item'), function(index, value) {
                    //console.log($(value).find('div.form-group').length);
                    $.each($(value).find('div.form-group').slice(1), function(index, value) {
                        //console.log($(value).children('label').html());
                        if(jQuery.inArray($(value).children('label').html(), myarray) === -1) {
                            $(value).hide();
                        } else {
                            $(value).show();
                        }
                    });
                });
            }
            filter();
            $('#product_category').on('change', filter);
            $('.add_tag_link').on('click', filter);
        });
    </script>
{% endblock %}