<!DOCTYPE html>
<html>
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149376675-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-149376675-2');
        </script>
        
        <meta charset="UTF-8" />
        <meta name="description" content="Billiorich marque tunisienne qui a été fondée en octobre 2017.
        La marque propose une large gamme de streetwear de luxe.
        Les produits de Billiorich représente le style de vie moderne et luxues des jeunes destinées au jeunes homme.
        Billiorich met la présence des cristaux Swarovski sur ces articles en intégration avec le design.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="GR13ljcLbOutxMdt1aeBvezC2Z1Kv5YRVhGhV02lsjA" />
        <title>{% block title %}Billiorich{% endblock %}</title>
        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/core-style.css') }}">
            <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/style.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/core-img/billio.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149376675-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-149376675-1');
            </script>
            <script src="{{ asset('assets/js/jquery/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/plugins.js') }}"></script>
            <script src="{{ asset('assets/js/active.js') }}"></script>
            <script>
                $(window).scroll(function() {
                    var scrollTop = $(window).scrollTop()*4;
                    var height = $(window).height();

                    $('.nav-2').css({
                        'opacity': ((height - scrollTop) / height)
                    });
                    /*if ($(this).scrollTop() > 300) {
                        $('.nav-2').css({
                            'display': 'none'
                        });
                    } else {
                        $('.nav-2').css({
                            'display': 'block'
                        });
                    }*/
                });
            </script>

            <!-- Criteo Homepage Tag -->
            <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
            <script type="text/javascript">
                window.criteo_q = window.criteo_q || [];
                var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
                window.criteo_q.push(
                    { event: "setAccount", account: 70191}, // You should never update this line
                    { event: "setEmail", email: "" }, // Can be an empty string
                    { event: "setSiteType", type: deviceType},
                    { event: "viewHome"});
            </script>
            <!-- END Criteo Home Page Tag -->
        {% endblock %}
    </body>
</html>
