<!-- Section: Products v.4 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <span class="h1-responsive font-weight-bold text-center my-5" style=" color: #3a3a3a; font-size: 50px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;   text-transform: uppercase;
    letter-spacing: 3vw;
">Billiorich</span>

    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <div class="card collection-card z-depth-1-half" style="border: none;">
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=T-Shirt">
                        <img src="{{ asset('assets/img/img-categories/tshirt.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px; font-weight: 800;">T-Shirts</p>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <div class="card collection-card z-depth-1-half" style="border: none;">
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Chemises">
                        <img src="{{ asset('assets/img/img-categories/chemise.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px; font-weight: 800;">Shirts</p>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
            <div class="card collection-card z-depth-1-half" style="border: none;">
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Jeans">
                        <img src="{{ asset('assets/img/img-categories/jeans.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px;font-weight: 800;">Jeans</p>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card collection-card z-depth-1-half" style="border: none;">
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Polo">
                        <img src="{{ asset('assets/img/img-categories/polo.jpg') }}" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px;font-weight: 800;">Polo</p>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--div class="col-lg-3 col-md-6">
            <div class="card collection-card z-depth-1-half" style="border: none;">
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Sweat-Pull">
                        <img src="{{ asset('assets/img/img-categories/polo.jpg') }}" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px;font-weight: 800;">Sweat & Pull</p>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div-->

    </div>
</section>