<!-- Section: Products v.4 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <span class="h1-responsive font-weight-bold text-center my-5" style=" color: #3a3a3a; font-size: 65px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;   text-transform: uppercase;
">Billiorich</span>

    <!-- Section description -->
    <!--<p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi.</p>-->

    <!-- Grid row -->
    <div class="row mt-5">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half" >
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=T-Shirt">
                        <img src="{{ asset('assets/img/img-categories/tshirt.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px">T-Shirts
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Chemises">
                        <img src="{{ asset('assets/img/img-categories/chemise.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px">Chemises
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Jeans">
                        <img src="{{ asset('assets/img/img-categories/jeans.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px">Jeans
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Fourth column -->
        <div class="col-lg-3 col-md-6">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Mocassin">
                        <img src="{{ asset('assets/img/img-categories/moc.JPG') }}" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p style="text-transform: uppercase; font-size: 20px">Mocassin
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Fourth column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Products v.4 -->