<!-- Section: Products v.4 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <img src="{{ asset('assets/img/img-billio/icons/billio.png') }}" style="height: 90px;width: 90px; vertical-align: middle; padding-bottom:20px;">
    <span class="h1-responsive font-weight-bold text-center my-5" style=" color: #3a3a3a; font-size: 45px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;">Billiorich</span>

    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi.</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=T-Shirts">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p>T-Shirts
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Chemises">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p>Chemises
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Jeans">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
                             alt="">
                        <div class="stripe dark">
                            <a>
                                <p>Jeans
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Grid column -->

        <!-- Fourth column -->
        <div class="col-lg-3 col-md-6">
            <!-- Collection card -->
            <div class="card collection-card z-depth-1-half">
                <!-- Card image -->
                <div class="view zoom">
                    <a href="{{ path('index_products_page') }}?category=Mocassin">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
                             alt="">
                        <div class="stripe light">
                            <a>
                                <p>Mocassin
                                    <i class="fa fa-angle-right"></i>
                                </p>
                            </a>
                        </div>
                    </a>
                </div>
                <!-- Card image -->
            </div>
            <!-- Collection card -->
        </div>
        <!-- Fourth column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Products v.4 -->