{% extends 'base.html.twig' %}
{% block body %}
    {% include 'default/header.html.twig' %}

    <div class="container" style="margin-top: 100px;">
        <div class="row mt-5">
            <div class="col-12 mt-5">
                <div class="section_heading text-center mt-5">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Info section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-email text-dark"></i>
                    <h6 class="heading-uppercase no-margin mt-3">Email</h6>
                    <p>Contact@billiorich.com</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-mobile text-dark"></i>
                    <h6 class="heading-uppercase no-margin mt-3">Phone</h6>
                    <p>+(216) 55 181 750</p>
                    <p>+(216) 58 931 111</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-instagram text-dark"></i>
                    <h6 class="heading-uppercase no-margin mt-3">Instagram</h6>
                    <p>@billiorich</p>
                </div>

                {% if app.request.locale == 'fr' %}
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-facebook text-dark"></i>
                    <h6 class="heading-uppercase no-margin mt-3">Facebook</h6>
                    <p>Billiorich</p>
                </div>
                {% else %}
                <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                    <i class="ti ti-facebook text-dark"></i>
                    <h6 class="heading-uppercase no-margin mt-3">Facebook</h6>
                    <p>Billiorich Europe</p>
                </div>
                {% endif %}

        </div>
    </div>
    <!-- end Contact Info section -->

    <!-- Contact Form section -->
    <div class="section no-padding-top">
        <div class="container">
            <div class="contact-form">
                {{ form_start(contact_form) }}
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-5">
                            {{ form_widget(contact_form.name, { 'attr': {'placeholder': 'Name' } }) }}
                        </div>
                        <div class="col-12 col-sm-6 mt-5">
                            {{ form_widget(contact_form.email, { 'attr': {'placeholder': 'E-Mail'} }) }}
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12">
                            {{ form_widget(contact_form.reason, { 'attr': {'placeholder': 'Raison' } }) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(contact_form.numColis, { 'attr': {'placeholder': 'Numéro de colis', 'class': 'mt-5' } }) }}
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 col-sm-12">
                            {{ form_widget(contact_form.message, { 'attr': {'placeholder': 'Message'} }) }}
                        </div>
                    </div>

                    <div>{{ form_errors(contact_form) }}</div>

                    <div class="row justify-content-center">
                        <div class="text-center mt-5 mb-5 col-4">
                            {{ form_widget(contact_form.save, {'attr': {'class': 'btn send-button'}}) }}
                        </div>
                    </div>

                    {{ form_rest(contact_form) }}
                {{ form_end(contact_form) }}
            </div><!-- end contact-form -->
        </div><!-- end container -->
    </div>
    <!-- end Contact Form section -->

    {% include 'default/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#message_numColis').hide();
            $('#message_reason').on('change', function () {
                var value = $('#message_reason').val();
                console.log(value);

                if(value === 'Livraison et retour') {
                    $('#message_numColis').show();
                } else {
                    $('#message_numColis').hide();
                }
            });
        });
    </script>
{% endblock %}