{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        {% include 'default/header.html.twig' %}

        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-12 mt-5">
                    <div class="section_heading text-center mt-5">
                        <h2>Product Details</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">

                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{ vich_uploader_asset(variation.images[0],'imageFile') }});">
                                </li>
                                {% for img in variation.images %}
                                    {% if false == loop.first %}
                                    <li data-target="#product_details_slider" data-slide-to="{{ loop.index0 }}" style="background-image: url({{ vich_uploader_asset(img,'imageFile') }});">
                                    </li>
                                    {% endif %}
                                {% endfor %}

                            </ol>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="{{ vich_uploader_asset(variation.images[0],'imageFile') }}">
                                        <img class="d-block w-100" src="{{ vich_uploader_asset(variation.images[0],'imageFile') }}" alt="slide">
                                    </a>
                                </div>
                                {% for img in variation.images %}
                                    {% if false == loop.first %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{ vich_uploader_asset(img,'imageFile') }}">
                                            <img class="d-block w-100" src="{{ vich_uploader_asset(img,'imageFile') }}" alt="slide">
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc">

                        <h4 class="title">{{ p.name }}</h4>

                        <h4 class="price">{{ p.price }} DT</h4>

                        <p class="available">Available: <span class="text-muted">In Stock</span></p>

                        <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>

                        <div class="widget size mb-50">
                            <h6 class="widget-title">Size</h6>
                            <div class="widget-desc">
                                <ul>
                                    {% if p.category == "Jeans" %}
                                        {% if variation.sizeJean29 != 0 %}
                                            <li><a class="size-option" data-size="29" href="#">29</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="29" href="#">29</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean30 != 0 %}
                                            <li><a class="size-option" data-size="30" href="#">30</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="30" href="#">30</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean31 != 0 %}
                                            <li><a class="size-option" data-size="31" href="#">31</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="31" href="#">31</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean32 != 0 %}
                                            <li><a class="size-option" data-size="32" href="#">32</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="32" href="#">32</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean33 != 0 %}
                                            <li><a class="size-option" data-size="33" href="#">33</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="33" href="#">33</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean34 != 0 %}
                                            <li><a class="size-option" data-size="34" href="#">34</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="34" href="#">34</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean36 != 0 %}
                                            <li><a class="size-option" data-size="36" href="#">36</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="36" href="#">36</a></li>
                                        {% endif %}
                                        {% if variation.sizeJean38 != 0 %}
                                            <li><a class="size-option" data-size="38" href="#">38</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="38" href="#">38</a></li>
                                        {% endif %}

                                    {% elseif p.category == "Mocassin" %}
                                        {% if variation.sizeMoc40 != 0 %}
                                            <li><a class="size-option" data-size="40" href="#">40</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="40" href="#">40</a></li>
                                        {% endif %}
                                        {% if variation.sizeMoc41 != 0 %}
                                            <li><a class="size-option" data-size="41" href="#">41</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="41" href="#">41</a></li>
                                        {% endif %}
                                        {% if variation.sizeMoc42 != 0 %}
                                            <li><a class="size-option" data-size="42" href="#">42</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="42" href="#">42</a></li>
                                        {% endif %}
                                        {% if variation.sizeMoc43 != 0 %}
                                            <li><a class="size-option" data-size="43" href="#">43</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="43" href="#">43</a></li>
                                        {% endif %}
                                        {% if variation.sizeMoc44 != 0 %}
                                            <li><a class="size-option" data-size="44" href="#">44</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="44" href="#">44</a></li>
                                        {% endif %}
                                        {% if variation.sizeMoc45 != 0 %}
                                            <li><a class="size-option" data-size="45" href="#">45</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="45" href="#">45</a></li>
                                        {% endif %}

                                    {% else %}
                                        {% if variation.s != 0 %}
                                            <li><a class="size-option" data-size="S" href="#">S</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="S" href="#">S</a></li>
                                        {% endif %}
                                        {% if variation.m != 0 %}
                                            <li><a class="size-option" data-size="M" href="#">M</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="M" href="#">M</a></li>
                                        {% endif %}
                                        {% if variation.l != 0 %}
                                            <li><a class="size-option" data-size="L" href="#">L</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="L" href="#">L</a></li>
                                        {% endif %}
                                        {% if variation.xl != 0 %}
                                            <li><a class="size-option" data-size="XL" href="#">XL</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="XL" href="#">XL</a></li>
                                        {% endif %}
                                        {% if variation.xxl != 0 %}
                                            <li><a class="size-option" data-size="XXL" href="#">XXL</a></li>
                                        {% else %}
                                            <li><a class="size-option disable-size" data-size="XXL" href="#">XXL</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <!-- Add to Cart Form -->
                        <form action="{{ path('add_to_cart_page', {'id': p.id, 'v_id': variation.id}) }}" class="cart" method="post">
                            <select name="size-select" id="size-select" style="display: none;" required>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="36">36</option>
                                <option value="38">38</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                            </select>
                            {#
                                <div class="quantity">
                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty{{ loop.index0 }}'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                    <input type="number" class="qty-text" id="qty{{ loop.index0 }}" step="1" min="1" max="12" name="quantity" value="1">

                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty{{ loop.index0 }}'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </div>
                            #}
                            <input type="submit" name="addtocart" id="submit-btn" value="Add to cart" class="cart-submit">
                        </form>

                        <div id="accordion" class="mt-5" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        {{ p.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h6 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Livraison & Retours</a>
                                    </h6>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>
                                            Nous vous fournirons de numéro de suivi de votre colis dès qu'il sera envoyé,
                                            de manière à pouvoir suivre la livraison sur le site web d’ARAMEX.
                                            Les retours peuvent être demandés dans les 14 jours suivant la réception de votre commande.
                                            Visitez notre espace client pour plus d'information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <div class="section_heading text-center mt-5">
                        <h3>Other Variations</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                {% for v in variations %}
                    <div class="col-lg-3 col-md-6 row justify-content-center mt-5">
                        {% include 'default/single-product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include 'default/footer.html.twig' %}
    </div>
{% endblock %}
