<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img class="img-fuild billio-logo" style="width: 40px; height: 40px;" src="{{ asset('assets/img/core-img/billio.jpg') }}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tous les Produits
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownA">
                    <a class="dropdown-item" href="{{ path('index_products_page') }}">Tous les Produits</a>
                    <div class="dropdown-divider"></div>
                    {% for c in collections %}
                        <a class="dropdown-item" href="{{ path('index_products_page') }}?collection={{ c.name }}">{{ c.name }}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégorie
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=T-Shirt">T-Shirts</a>
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=Jeans">Jeans</a>
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=Chemises">Chemises</a>
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=Polo">Polo</a>
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=Mocassin">Mocassin</a>
                    <a class="dropdown-item" href="{{ path('index_products_page') }}?category=Casquettes">Casquettes</a>
                </div>
            </li>
            <li class="nav-item active">
                <a id="nav-contact" class="nav-item-button nav-link" href="{{ path('contact_page') }}">CONTACT</a>
            </li>
        </ul>

        <div class="text-right" style="margin-right: 70px; margin-top:10px;">
            {% if cartLogo!=0 %}
            <span>
                <a href="{{ path('cart_page') }}">
                    <span class="icon-shopping-cart custom-icon">
                        <span class="shopping-cart">{{ cartLogo }}</span>
                    </span>
                </a>
            </span>
            {% endif %}
            <span><a href="https://www.facebook.com/billiorich96/" target="_blank"> <i class="fa fa-facebook custom-icon"></i></a></span>
            <span><a href="https://www.instagram.com/billiorich/" target="_blank"><i class="fa fa-instagram custom-icon"></i> </a></span>
        </div>
    </div>
</nav>

<div class="fixed-top" style="background: rgba(0, 0, 0, 0.4); width: 100%;margin-top: 80px; z-index: 2;">
    <div class="text-center " style="padding:.8rem!important; padding-top: 20px !important;" >
        <span style="color: white !important; text-transform: uppercase;">Livraison <b>gratuite</b> sur les commandes de plus de <u><b>200dt</b></u></span>
    </div>
</div>