<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix" style="margin-top: -105px;">
    <div class="container">
        <div class="row karl-new-arrivals">
            {% for p in products %}
            {% if p.collection == null or p.collection.enabled==true %}
            <!-- Single gallery Item Start -->
                {% for v in p.variations %}
                    <div data-entry-id="{{ p.id }}-{{ v.id }}" class="col-6 col-lg-4 single_gallery_item {{ p.category }} wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}">
                                <img src="{{ vich_uploader_asset(v.images[0],'imageFile') }}" alt="">
                                {% if p.promoEnabled %}
                                    <div class="product-sale">
                                        <h6 class="heading-uppercase">-{{ p.promoMontant }}%</h6>
                                    </div>
                                {% endif %}
                                {% if p.category == "Jeans" %}
                                    {% if v.sizeJean29 == 0 and v.sizeJean30 == 0 and v.sizeJean31 == 0 and v.sizeJean32 == 0 and v.sizeJean33 == 0 and v.sizeJean34 == 0 and v.sizeJean35 == 0 and v.sizeJean36 == 0 and v.sizeJean38 == 0 %}
                                        <div class="product-stock">
                                            <h6 class="heading-uppercase">Out of stock</h6>
                                        </div>
                                    {% endif %}
                                {% elseif p.category == "Mocassin" %}
                                    {% if v.sizeMoc40 == 0 and v.sizeMoc41 == 0 and v.sizeMoc42 == 0 and v.sizeMoc43 == 0 and v.sizeMoc44 == 0 and v.sizeMoc45 == 0 %}
                                        <div class="product-stock">
                                            <h6 class="heading-uppercase">Out of stock</h6>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if v.s == 0 and v.m == 0 and v.l == 0 and v.xl == 0 and v.xxl == 0 %}
                                        <div class="product-stock">
                                            <h6 class="heading-uppercase">Out of stock</h6>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">
                                {% if p.promoEnabled %}
                                    {% if app.request.locale == 'en' %}
                                        <s style='color: dimgrey; font-size: 80%'>{{ (p.priceDollar)|number_format(2) }}</s>
                                        {{ (p.priceDollar - p.priceDollar*p.promoMontant/100)|number_format(2) }} $
                                    {% else %}
                                        <s style='color: dimgrey; font-size: 80%'>{{ (p.price)|number_format(2) }}</s>
                                        {{ ((p.price - p.price*p.promoMontant/100))|number_format(2) }} TND
                                    {% endif %}
                                {% else %}
                                    {% if app.request.locale == 'en' %}
                                        {{ (p.priceDollar)|number_format(2) }} $
                                    {% else %}
                                        {{ (p.price)|number_format(2) }} TND
                                    {% endif %}
                                {% endif %}

                            </h4>
                            <div style="min-height: 50px;">{{ p.name }}</div>
                            <!-- Add to Cart -->
                            <form action="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}" class="cart" method="post">
                                <button type="submit" class="btn btn-dark mt-2 btn-acheter">{{ 'translate.add_cart'|trans }}</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            <!-- Single gallery Item Start -->
            {% endif %}
            {% endfor %}
        </div>
        <div class="row" id="test"></div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery/jquery-2.2.4.min.js') }}"></script>
    <!-- Criteo Category / Listing Tag -->
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            /**
             * Grab data attributes with vanilla JavaScript (ES6)
             */
            document.addEventListener('DOMContentLoaded', () => {

                // Select elements by their data attribute
                const entryElements =
                    document.querySelectorAll('[data-entry-id]');

                // Map over each element and extract the data value
                const entryIds =
                    Array.from(entryElements).map(
                        item => item.dataset.entryId
                    );

                // You'll now have an array containing string values
                // console.log(entryIds); // eg: ["1", "2", "3"]
            });

            /**
             * Grab data attributes with JQuery
             */
            $(() => {

                // Select elements by their data attribute
                const $entryElements = $('[data-entry-id]');

                // Map over each element and extract the data value
                var $entryIds =
                    $.map($entryElements, item => $(item).data('entryId'));

                // You'll now have array containing string values
                //console.log($entryIds); // eg: ["1", "2", "3"]
        window.criteo_q = window.criteo_q || [];
        var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
        window.criteo_q.push(
            { event: "setAccount", account: 70871}, // You should never update this line
            { event: "setEmail", email: "" }, // Can be an empty string
            { event: "setSiteType", type: deviceType},
            { event: "viewList", item: $entryIds });
            });


        });
    </script>
    <!-- END Criteo Category / Listing Tag -->

    <script type="text/javascript">
        $( document ).ready(function() {
            is_processing = false;
            last_page = false;
            offset = 10;

            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };

            // console.log('{{ path('index_products_page') }}' + '?category=' + getUrlParameter('category'));

            $(window).scroll(function() {
                var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
                var scrolltrigger = 0.80;
                if (($(window).scrollTop() / (docheight - winheight)) > scrolltrigger) {
                    if (last_page === false && is_processing === false) {
                        addMoreElements();
                    }
                }
            });

            function addMoreElements() {
                let url = '{{ path('index_products_page') }}';
                if(getUrlParameter('category')) {
                    url += '?category=' + getUrlParameter('category')
                }
                if(getUrlParameter('collection')) {
                    url += '?collection=' + getUrlParameter('collection')
                }
                // console.log(url)
                is_processing = true;
                $.ajax({
                    type: "post",
                    url: url,
                    data: JSON.stringify(offset),
                }).done( function(response) {
                    response = JSON.parse(response);
                    // console.log(response);
                    if (response.length !== 0) {
                        htmlData = '';
                        $.each(response, function(k, product) {
                            // console.log(htmlData)
                            // console.log(product)
                            $.each(product.variations, function(k, variation) {
                                // console.log(variation)
                                htmlData += '<div data-entry-id="' + product.id + '-' + variation.id + '" class="col-6 col-lg-4 single_gallery_item ' + product.category +
                                ' wow fadeInUpBig" data-wow-delay="0.2s"><div class="product-img"><a href="https://billiorich.com/products/' + product.id + '-' + variation.id + '">' +
                                '<img src="/uploads/product_images/' + variation.images[0].image + '" alt="">';
                                if (product.promo_enabled) {
                                    htmlData += '<div class="product-sale"><h6 class="heading-uppercase">-' + product.promo_montant + '%</h6></div>'
                                }
                                if (product.category == "Jeans") {
                                    if (variation.size_jean29 == 0 && variation.size_jean30 == 0 && variation.size_jean31 == 0 && variation.size_jean32 == 0 &&
                                    variation.size_jean33 == 0 && variation.size_jean34 == 0 && variation.size_jean35 == 0 && variation.size_jean36 == 0 && variation.size_jean38 == 0) {
                                        htmlData += '<div class="product-stock"><h6 class="heading-uppercase">Out of stock</h6></div>';
                                    }
                                } else if (product.category == "Mocassin") {
                                    if (variation.size_moc40 == 0 && variation.size_moc41 == 0 && variation.size_moc42 == 0 && variation.size_moc43 == 0 &&
                                        variation.size_moc44 == 0 && variation.size_moc45 == 0) {
                                        htmlData += '<div class="product-stock"><h6 class="heading-uppercase">Out of stock</h6></div>';
                                    }
                                } else {
                                    if (variation._s == 0 && variation._m == 0 && variation._l == 0 && variation._x_l == 0 && variation._x_x_l == 0) {
                                        htmlData += '<div class="product-stock"><h6 class="heading-uppercase">Out of stock</h6></div>';
                                    }
                                }
                                htmlData += '</a></div><div class="product-description"><h4 class="product-price">';
                                if (product.promo_enabled) {
                                    {% if app.request.locale == "en" %}
                                    htmlData += '<s style="color: dimgrey; font-size: 80%">' + parseFloat(product.price_dollar).toFixed(2) + '</s> ' +
                                        parseFloat(product.price_dollar - product.price_dollar * product.promo_montant / 100).toFixed(2) + ' $';
                                    {% else %}
                                    htmlData += '<s style="color: dimgrey; font-size: 80%">' + parseFloat(product.price).toFixed(2) + '</s> ' +
                                        parseFloat(product.price - product.price * product.promo_montant / 100).toFixed(2) + ' TND';
                                    {% endif %}
                                }
                                else {
                                    {% if app.request.locale == "en" %}
                                    htmlData += parseFloat(product.price_dollar).toFixed(2) + ' $'
                                    {% else %}
                                    htmlData += parseFloat(product.price).toFixed(2) + ' TND'
                                    {% endif %}
                                }
                                htmlData += '</h4><div style="min-height: 50px;" >' + product.name + '</div>' +
                                    '<form action="https://billiorich.com/products/' + product.id + '-' + variation.id + '" class="cart" method="post">' +
                                    '<button type="submit" class="btn btn-dark mt-2 btn-acheter">{{ "translate.add_cart"|trans }}</button></form></div></div>';
                            });
                        });
                        // $('.karl-new-arrivals').append(htmlData);
                        $(htmlData).hide().appendTo('#test').fadeIn();
                        $(window).scrollTop($(window).scrollTop()-1);
                        offset += 10;

                    } else {
                        last_page = true;
                    }
                    is_processing = false;
                }).fail(function(xhr,textmsg,errorThrown){
                    /*console.log(xhr.status);
                    console.log(xhr.responseText);
                    console.log(errorThrown);*/
                    is_processing = false;
                });
            }
        });
    </script>
{% endblock %}