<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix" style="margin-top: -105px;">

    <div class="container">
        <div class="row karl-new-arrivals">

            {% for p in products %}

            {% if p.collection == null or p.collection.enabled==true %}
            <!-- Single gallery Item Start -->
                {% for v in p.variations %}
                    <div class="col-6 col-lg-4 single_gallery_item {{ p.category }} wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}">
                                <img src="{{ vich_uploader_asset(v.images[0],'imageFile') }}" alt="">
                            </a>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">{{ p.price }} DT</h4>
                            <p style="font-size:18px">{{ p.name }}</p>
                            <!-- Add to Cart -->
                            <form action="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}" class="cart" method="post">
                                <button type="submit" class="btn btn-dark mt-2 btn-acheter">Acheter maintenant</button>
                            </form>

                        </div>
                    </div>
                {% endfor %}
            <!-- Single gallery Item Start -->
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->