<!-- ****** New Arrivals Area Start ****** -->
<section class="new_arrivals_area section_padding_100_0 clearfix">

    <div class="container">
        <div class="row karl-new-arrivals">

            {% for p in products %}
            {% if p.collection!=null and p.collection.enabled==true %}
            <!-- Single gallery Item Start -->
            <div class="col-12 col-sm-6 col-md-4 single_gallery_item {{ p.category }} wow fadeInUpBig" data-wow-delay="0.2s">
                <!-- Product Image -->
                <div class="product-img">
                    <a href="{{ path('product_details_page', {'id': p.id, 'v_id': p.variations[0].id}) }}">
                        <img src="{{ vich_uploader_asset(p,'imageFile') }}" alt="">
                    </a>
                </div>
                <!-- Product Description -->
                <div class="product-description">
                    <h4 class="product-price">{{ p.price }} DT</h4>
                    <p style="font-size:23px">{{ p.name }}</p>
                    <!-- Add to Cart -->
                    <form action="{{ path('product_details_page', {'id': p.id, 'v_id': p.variations[0].id}) }}" class="cart" method="post">
                        <input type="submit" value="Acheter Maintenant" class="custom-cart">
                    </form>

                </div>
            </div>
            <!-- Single gallery Item Start -->
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- ****** New Arrivals Area End ****** -->