<!-- Single gallery Item Start -->
<div class="single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
    <!-- Product Image -->
    <div class="product-img">
        <a href="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}">
            <img src="{{ vich_uploader_asset(v.images[0],'imageFile') }}" alt="">
        </a>
    </div>
    <!-- Product Description -->
    <div class="product-description">
        <h4 class="product-price">{{ p.price }} DT</h4>
        <p style="font-size:23px">{{ p.name }}</p>
        <!-- Add to Cart -->
        <form action="{{ path('product_details_page', {'id': p.id, 'v_id': v.id}) }}" class="cart" method="post">
            <input type="submit" value="Acheter Maintenant" class="custom-cart">
        </form>

    </div>
</div>
<!-- Single gallery Item Start -->