<!-- ****** Welcome Slides Area Start ****** -->
<section class="welcome_area" style="margin-top: 100px;">
    <div class="welcome_slides owl-carousel">

        <div class="single_slide height-800 bg-img background-overlay" style="background-image: url({{ asset('assets/img/bg-img/bg-6.jpg') }});object-fit: cover;">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <a href="{{ path('index_products_page') }}" class="btn billio-slide" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slide height-800 bg-img background-overlay" style="object-fit: cover; background-image: url({{ asset('assets/img/bg-img/bg-8.jpg') }});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <a href="{{ path('index_products_page') }}" class="btn billio-slide" data-animation="fadeInLeftBig" data-delay="1s" data-duration="500ms">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slide height-800 bg-img background-overlay" style="object-fit: cover; background-image: url({{ asset('assets/img/bg-img/bg-7.jpg') }});">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome_slide_text">
                            <a href="{{ path('index_products_page') }}" class="btn billio-slide" data-animation="fadeInRightBig" data-delay="1s" data-duration="500ms">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Welcome Slides Area End ****** -->