{% extends 'admin/base.html.twig' %}

{% block body %}

    {{  parent() }}
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard</h4>
                </div>
            </div>

            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index_admin_page') }}"><i class="icon-home2 position-left"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ul>
            </div>
        </div>
        <!-- /page header -->

        <!-- Content area -->
        <div class="content">
            <div class="row">
                <h2>Messages</h2>
                <div class="col-lg-4">
                    <div class="panel bg-purple-400">
                        <div class="panel-body">
                            <div class="col-lg-3" style="margin-top: 13px;"><i class="icon-envelop2"></i></div>
                            <div class="col-lg-9">
                                <h3 class="no-margin">{{ count_messages }}</h3>
                                <div class="text-muted text-size-small">Stats de messages</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h2>Produits les plus demandés</h2>
            <div class="row">
                {% for prod in list %}
                    <div class="col-lg-4">
                        <div class="panel bg-green-400">
                            <div class="panel-body">
                                <h3 class="no-margin">#ID: {{ prod[0].product.id }}-{{ prod[0].variation.id }}</h3>
                                <h3 class="no-margin">Name: {{ prod[0].product.name }}</h3>
                                <h3 class="no-margin">Color: {{ prod[0].variation.color }}</h3>
                                <div class="text-muted text-size-small">Nombre de demande devis: {{ prod['total_quantity'] }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr>
            <h2>Promo Code Stats</h2>
            <div class="row">
                {% set sum1 = 0 %}
                {% for obj in codes %}
                    <div class="col-md-6">
                        <div class="panel invoice-grid">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>Code : <b>{{ obj.value.code }}</b></div>
                                        <div>Name : <b>{{ obj.value.name }}</b></div>
                                        <div>Promo : <b>{{ obj.value.montant }} %</b></div>
                                    </div>

                                    <div class="col-sm-6">
                                        {% set sum1 = 0 %}
                                        {% for item in obj.items %}
                                            {% set sum1 = sum1 + item.quantity*item.product.price %}
                                        {% endfor %}
                                        <span class="text-semibold">
                                            {% set sum2 = sum1 - sum1*obj.value.montant/100  %}
                                            <h6 class="text-semibold text-right no-margin-top" id="total1{{ loop.index0 }}">{{ sum2 }} DT</h6>
                                        </span>
                                        <div class="text-right">
                                            Status: &nbsp;
                                            {% if obj.value.enabled %}
                                                <span class="label bg-success-300 dropdown-toggle" data-toggle="dropdown">Active</span>
                                            {% else %}
                                                <span class="label bg-danger-300 dropdown-toggle" data-toggle="dropdown">Inavtive</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <ul class="pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#invoice{{ loop.index0 }}"><i class="icon-eye8"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Modal with invoice -->
                    <div id="invoice{{ loop.index0 }}" class="modal fade">
                        <div class="modal-dialog modal-full">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Code #: &nbsp;{{ "%04d" | format(obj.value.id) }}</h5>
                                </div>

                                <div class="panel-body no-padding-bottom">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-9 content-group">
                                            <span class="text-muted">Code To:</span>
                                            <ul class="list-condensed list-unstyled">
                                                <li><h5><b>Name : </b>{{ obj.value.name }}</h5></li>
                                                <li><b>Link : </b>{{ obj.value.link }}</li>
                                                <li><b>Code : </b>{{ obj.value.code }}</li>
                                                <li><b>Montant : </b>{{ obj.value.montant }}%</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-lg">
                                        <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th class="col-sm-1">Size</th>
                                            <th class="col-sm-1">Color</th>
                                            <th class="col-sm-1">Quantity</th>
                                            <th class="col-sm-1">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in obj.items %}
                                            <tr>
                                                <td>
                                                    <h6 class="no-margin">{{ item.product.name }}</h6>
                                                </td>
                                                <td>{{ item.size }}</td>
                                                <td>{{ item.variation.color }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>
                                                    <span class="text-semibold">
                                                        {% set total = item.quantity*item.product.price %}
                                                        {% set total2 = total - total*obj.value.montant/100 %}
                                                        {{ total2 }} TND
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-body">
                                    <div class="row invoice-payment">
                                        <div class="col-sm-offset-7 col-sm-5">
                                            <div class="content-group">
                                                <h6>Total due</h6>
                                                <div class="table-responsive no-border">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            <th>Total:</th>
                                                            <td class="text-right text-primary"><h5 class="text-semibold" id="total{{ loop.index0 }}">{{ sum2 }} DT</h5></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /modal with invoice -->
                {% endfor %}
            </div>

            {% include 'admin/footer.html.twig' %}
        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->
    </div>
    <!-- /page content -->

    </div>
    <!-- /page container -->

{% endblock %}